body{
    margin: 0;
}
.content{
    display: flex;
    height: 100vh;
}
.block{
    display: flex;
    background-color: #696969;
    width: 100%;
    margin: 5%;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
}
.pad{
    margin: 5% 5% 5% 0 ;
}
.square{
    background-color: red;

}